// Place all the styles related to the Feelings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

$hint-color: #B3B3B3;

@mixin center-align($width-percent) {
  width: $width-percent;
  margin: 0 auto;
}

.card {
  transition: 0.1s;
  margin-bottom: 20px;
  padding: 12px 30px 10px 30px;
  background: #fff;
  border: 1px solid #E1E3E6;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.05);
  border-radius: 3px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.1);
}

.feelings {
  @include center-align(90%);
  padding-bottom: 20px;
}

.hint {
  color: $hint-color;
}

.heading {
  text-align: center;
  @include center-align(90%);
}

.title {
  font-size: 30px;
  line-height: 35px;
}

[data-feeling-input]:active,
[data-feeling-input]:focus{
  border:none;
  outline:none;
  border-bottom: 1px solid $background-color;
}

[data-feeling-input] {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 30px;
  line-height: 40px;
  border-bottom: 1px solid $hint-color;
  min-height: 20px;
  padding-top: 10px;

}


form.new_feeling {
  margin-bottom: 10px;
}

.pagination {
  text-align: center;
}

.submit-hint {
  display: none;
}

button {
  padding: 10px 24px;
  border-radius: 4px;
  font-size: 13px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #3b72cc;
}

.feeling-submit {
  width: 100%;
}

@media only screen and (min-width : 800px) {
  .submit-hint {
    display: block;
  }
  .feelings, .heading {
    @include center-align(50%);
  }
}

.feeling-date {
  font-size: 13px;
}

.pagination {
  font-size: 20px;
}

.hidden {
  display: none;
}

.errors {
  color: red;
  margin-bottom: 10px;
}
